<div class="row">
  <div class="col-md-6">
    <app-breadcrumb></app-breadcrumb>
  </div>
  <div class="col-md-6 dropdown mb-3 text-end">
    <app-insert *ngIf="isAdmin" [slug]="'series'" [fields]="serie_fields"></app-insert>
    <a class="btn dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      Generi
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
      @for (genre of genres; track genre;) {
        <li><a class="dropdown-item" [routerLink]="['/browse/genres/series', genre.id]">{{genre.nome}}</a></li>
      }
    </ul>
  </div>
</div>
<app-banner [movies]="series" [isLoading]="bannerIsLoading"></app-banner>
<app-slider [genres]="genres" [isLoading]="sliderIsLoading"></app-slider>
