<div class="container text-center">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <p><a href="javascript:void(0)" class="text-reset text-decoration-none">Terms</a></p>
      <p><a href="javascript:void(0)" class="text-reset text-decoration-none">Privacy</a></p>
    </div>
    <div class="col-md-4 mx-auto">
      <p><a href="javascript:void(0)" class="text-reset text-decoration-none">Cookies</a></p>
      <p><a href="javascript:void(0)" class="text-reset text-decoration-none">Feedback</a></p>
    </div>
    <div class="col-md-4 mx-auto">
      <p><a href="javascript:void(0)" class="text-reset text-decoration-none">Help</a></p>
      <p><a href="javascript:void(0)" class="text-reset text-decoration-none">Assistenza</a></p>
    </div>
  </div>
</div>
<div class="text-center">
  Copyright &copy; 2024 <span class="text-primary"><b>CO</b></span>DE
</div>
